{% extends "orientationsite/index.html" %}
{% load staticfiles %}

{% block content %}
  <div id="contactPg" class="container">
    <h1 class="center-txt">CONTACT</h1>
    <div id="underline-blk"> </div>
    <p class="lead center-txt" style="color:white; font-size:200%; margin-top:20px;">ROCHELLE COELHO & KIMIA KARBASY</p>
    <p class="lead center-txt" style="color:white; font-size:200%;"><a href="mailto:orientation@uclit.ca" style="color:white; margin-top:-10px;">WWW.ORIENTATION@UCLIT.CA</a></p>

   
	<a href="https://www.facebook.com/uc.orientation?fref=ts" style="margin-top:20px !important;"><i class="fa fa-facebook"></i></a>
	<a href="https://twitter.com/ucorientation"><i class="fa fa-twitter"></i></a>

  </div>

{% endblock %}

{% block footer %}
{% endblock %}