{% extends "orientationsite/index.html" %}
{% load staticfiles %}

{% block content %}
  <div id="aboutUC">
    <hr class="featurette-divider">

      <div class="row featurette">
          <img class="featurette-image img-responsive pull-right" style="margin-top:30px; width:500px;" src="{% static 'img/ucfront.jpg' %}" />
          <h2 class="featurette-heading"><span class="text-muted">About</span> University College</h2>
          <p class="lead">University College is one of University of Toronto’s seven colleges. Founded in 1853, UC is one of the oldest establishments that you will find around campus! UC students are proud to carry on a tradition of promoting values of inclusivity, respect, and open-mindedness. UC is the home of the University’s Sexual Diversity Studies and Canadian Studies program, to name a few; additionally, UC’s student government is the oldest in Canada.

As beautiful as it is, University College does have a scary side. According to UC legend, our main building is haunted by the ghosts of Diabolo and Reznikoff, two craftsmen who fought to the death during UC’s construction. Some say you can still see marks in the wall from their intense axe battle…! Decades later, an annual College formal event turned into chaos when a fallen lamp erupted into flames, destroying a majority of the building’s interior. University College is not one to forget such harrowing stories, so we have kept them alive: students can grab a hot drink at Diabolo’s, our student-run coffee shop, or a snack at Reznikoff’s, a bright café located in Morrison Hall. Additionally, students always look forward to "Fireball," our annual formal event held in the entire UC building.

For many students, transitioning into University may be an overwhelming process. Luckily, each individual involved in Orientation – from Frosh Leaders to Student Life staff – are committed to helping incoming students feel relaxed and at ease from the moment you arrive on campus. If you are interested in learning more about the history, programs, and services offered at UC, visit www.uc.utoronto.ca or visit our "Contact Us" page and e-mail your Orientation co-chairs any questions or concerns!</p>
      </div>

      <hr class="featurette-divider">
      <h2 class="featurette-heading center-txt"> RESIDENCES </h2>
      <hr class="featurette-divider">

      <div class="row featurette">
          <img class="featurette-image img-responsive pull-right" style="margin-top:30px; width:500px;" src="{% static 'img/morrison1.jpg' %}" />
          <h2 class="featurette-heading"><span class="text-muted">Morrison</span> Hall</h2>
          <p class="lead">The newest of UC’s three residence buildings, Morrison Hall, is located in between Whitney and Sir Dan’s. Students in Wolfe, Perron, Langley, Bratty, and Landberg Lewis are often happy to be a short elevator ride away from the dining hall! This building is also home to Reznikoff’s Café, a popular gathering place for hungry students to spend time outside of classes. Most rooms and common rooms in Morrison have an excellent view of the surrounding city and campus.</p>
      </div>

    <hr class="featurette-divider">

    <div class="row featurette">
          <img class="featurette-image img-responsive pull-left" style="margin-top:30px; width:500px;" src="{% static 'img/sirdans1.jpg' %}" />
          <h2 class="featurette-heading"><span class="text-muted">Sir Daniel Wilson</span> Hall</h2>
          <p class="lead">Affectionately known by UC students as “Sir Dan’s,” this southern-most residence building surrounds the beautiful Sir Dan’s quad. Historically an all-male residence, the building is now co-ed and the home of houses Taylor, Jeanneret, Hutton, Loudon, Wallace, and McCaul. Sir Dan’s is attached to Morrison Hall, giving residents easy access to the Howard Ferguson Dining Hall (especially convenient on those cold winter days!).</p>
      </div>

      <hr class="featurette-divider">

       <div class="row featurette">
          <img class="featurette-image img-responsive pull-right" style="margin-top:30px; width:500px;" src="{% static 'img/whitney1.jpg' %}" />
          <h2 class="featurette-heading"><span class="text-muted">Whitney</span> Hall</h2>
          <p class="lead">Located on the corner of Harbord St. and St. George St., Whitney Hall lays in the shadow of the famous Robarts Library. Home to houses Ferguson, Falconer, Cody, and Mulock, Whitney has a small, peaceful quad that connects conveniently to Harbord Street. Whitney Hall is only a few steps away from Morrison Hall, which contains the dining hall and the delicious Reznikoff’s Café. Additionally, Whitney’s basement contains a small library and an activity room with both pool and ping pong tables.</p>
      </div>

      <hr class="featurette-divider">
      <h2 class="featurette-heading center-txt"> WHAT IS A HOUSE? </h2>
      <hr class="featurette-divider">

      <div class="row featurette">
          <img class="featurette-image img-responsive pull-left" style="margin-top:30px; width:500px;" src="{% static 'img/house.jpg' %}" />
          <h2 class="featurette-heading">The <span class="text-muted">House</span> System</h2>
          <p class="lead">University College is made up of three residence buildings, all of which are further divided into fifteen Houses. Each house may contain around 25 students (sizes vary depending on the building); these students’ residence rooms are located near each other, and each House has its own “Common Room” (these may contain a small kitchen area, a TV, comfy couches, etc.).

During Orientation Week, students will have plenty of time to meet students in their own House as well as those in other Houses! Some Orientation events are designed to allow each House to become comfortable with one another and their new residence; during these events, you are sure to learn much more about your own House traditions from your Leaders and Dons. Each House has one or two Dons who will organize exciting House events and act as a resource for their students with regards to academic, personal, or other issues that may arise throughout the year.

Use these residence maps to locate your House, become familiar with the locations of other Houses, and get excited about becoming a part of UC!</p>
            <div id="maps row">
              <img class="col-md-4 col-lg-offset-0" src="{% static 'img/morrison.jpg' %}" />
              <img class="col-md-4" src="{% static 'img/sirdans.jpg' %}" />
              <img class="col-md-4" src="{% static 'img/whitney.jpg' %}" />
            </div>
      </div>

      <hr class="featurette-divider">
      <h2 class="featurette-heading center-txt"> COMMUTING </h2>
      <hr class="featurette-divider">

      <div class="row featurette">
          <img class="featurette-image img-responsive pull-right" style="margin-top:30px; width:500px;" src="{% static 'img/commuter.jpg' %}" />
          <h2 class="featurette-heading">The <span class="text-muted">Commuter</span> Life</h2>
          <p class="lead">With the help of the Commuter Student Centre, off-campus life at UC has been made easy!

The Commuter Student Center (CSC) opened in 2007 and is an open and accessible space at the University of Toronto. It was designed for commuter students and offers:</p>
<ul>

  <li>a lounge with cable television</li>
  <li>a personal X-Box</li>
  <li>a kitchenette (equipped with a coffee maker, a microwave, and a fridge)</li>
  <li>a study space</li>
  <li>a group study room</li>
  <li>rentable lockers</li>
  <li>a built in projector screen</li>
</ul>
<p class="lead">It’s open Monday to Friday from 8am to 10pm and can be found at 79 St. George Street.


The University College Off Campus Commission (UCOC) also hosts events at the CSC including regular pancake brunches, X-Box gaming nights, board game parties, trips to Hart House Farm and much more! This welcoming space is a way for students to socialize between classes and feel a sense of community. Registration for MyDef, University College's Commuter-Oriented Orientation will be available soon. Please contact ucoc@uclit.ca for more information.</p>
      </div>

  </div>


{% endblock %}