{% extends "orientationsite/index.html" %}
{% load staticfiles %}

{% block content %}
<div id="mediagallery" class="container" style="padding:0px;">

        <div class="row" style="padding:15px;">

            <div class="col-lg-12">
                <h1 class="page-header center-txt" style="color:white;">FROSH 2014 PICTURES</h1>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="{% static 'img/mediapage/1.jpg' %}">
                    <img class="img-responsive" src="{% static 'img/mediapage/1.jpg' %}" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="{% static 'img/mediapage/2.jpg' %}">
                    <img class="img-responsive" src="{% static 'img/mediapage/2.jpg' %}" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="{% static 'img/mediapage/3.jpg' %}">
                    <img class="img-responsive" src="{% static 'img/mediapage/3.jpg' %}" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="{% static 'img/mediapage/4.jpg' %}">
                    <img class="img-responsive" src="{% static 'img/mediapage/4.jpg' %}" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="{% static 'img/mediapage/5.jpg' %}">
                    <img class="img-responsive" src="{% static 'img/mediapage/5.jpg' %}" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="{% static 'img/mediapage/6.jpg' %}">
                    <img class="img-responsive" src="{% static 'img/mediapage/6.jpg' %}" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="{% static 'img/mediapage/7.jpg' %}">
                    <img class="img-responsive" src="{% static 'img/mediapage/7.jpg' %}" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="{% static 'img/mediapage/8.jpg' %}">
                    <img class="img-responsive" src="{% static 'img/mediapage/8.jpg' %}" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="{% static 'img/mediapage/9.jpg' %}">
                    <img class="img-responsive" src="{% static 'img/mediapage/9.jpg' %}" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="{% static 'img/mediapage/10.jpg' %}">
                    <img class="img-responsive" src="{% static 'img/mediapage/10.jpg' %}" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="{% static 'img/mediapage/11.jpg' %}">
                    <img class="img-responsive" src="{% static 'img/mediapage/11.jpg' %}" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="{% static 'img/mediapage/12.jpg' %}">
                    <img class="img-responsive" src="{% static 'img/mediapage/12.jpg' %}" alt="" style="height:186px;">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="{% static 'img/mediapage/13.jpg' %}">
                    <img class="img-responsive" src="{% static 'img/mediapage/13.jpg' %}" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="{% static 'img/mediapage/14.jpg' %}">
                    <img class="img-responsive" src="{% static 'img/mediapage/14.jpg' %}" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="{% static 'img/mediapage/15.jpg' %}">
                    <img class="img-responsive" src="{% static 'img/mediapage/15.jpg' %}" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="{% static 'img/mediapage/16.jpg' %}">
                    <img class="img-responsive" src="{% static 'img/mediapage/16.jpg' %}" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="{% static 'img/mediapage/17.jpg' %}">
                    <img class="img-responsive" src="{% static 'img/mediapage/17.jpg' %}" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="{% static 'img/mediapage/18.jpg' %}">
                    <img class="img-responsive" src="{% static 'img/mediapage/18.jpg' %}" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="{% static 'img/mediapage/19.jpg' %}">
                    <img class="img-responsive" src="{% static 'img/mediapage/19.jpg' %}" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="{% static 'img/mediapage/20.jpg' %}">
                    <img class="img-responsive" src="{% static 'img/mediapage/20.jpg' %}" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="{% static 'img/mediapage/21.jpg' %}">
                    <img class="img-responsive" src="{% static 'img/mediapage/21.jpg' %}" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="{% static 'img/mediapage/22.jpg' %}">
                    <img class="img-responsive" src="{% static 'img/mediapage/22.jpg' %}" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="{% static 'img/mediapage/23.jpg' %}">
                    <img class="img-responsive" src="{% static 'img/mediapage/23.jpg' %}" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="{% static 'img/mediapage/24.jpg' %}">
                    <img class="img-responsive" src="{% static 'img/mediapage/24.jpg' %}" alt="">
                </a>
            </div>
        </div>

{% endblock %}