{% extends "orientationsite/index.html" %}
{% load staticfiles %}


{% block content %}
	<div id="execTeamDiv">

      <div id="execTeamContainer" class="container-fluid">

      	<hr />
      			<img class="" style="display:block; margin:0 auto;" src="{% static 'img/cochair.png' %}"/>
      	<hr />
        <br />

          <div class="row execRow center-block">

          	<div class="box col-md-3 col-md-offset-3">
          		<img class="execpic" src="{% static 'img/execs/kimia.jpg' %}" />
              <div class="overbox" style="background-image:url({% static 'img/teamanimal/kimia.jpg' %});">
                <div class="title overtext"><h6>NAME:</h6> Kimia Karbasy </div>
                <div class="title overtext"><h6>NICKNAME:</h6> Chimera, Kimaya. </div>
                <div class="title overtext"><h6>PROGRAM:</h6>  Double Major in Physiology & Nutritional Science. </div>
                <div class="title overtext"><h6>EVENT:</h6> Co-Chair. </div>
                <div class="title overtext"><h6>HOBBY:</h6> Singing in the shower. </div>
                <div class="title overtext"><h6>FAVORITE ORIENTATION EVENT:</h6> Doin It In The Dot. </div>
                <div class="title overtext"><h6>FAVORITE ANIMAL:</h6>Tarsier. </div>
              </div>
            </div>
            <div class="box col-md-3">
              <img class="execpic" src="{% static 'img/execs/rochelle.jpg' %}" />
              <div class="overbox" style="background-image:url({% static 'img/teamanimal/rochelle.jpg' %});">
                <div class="title overtext"><h6>NAME:</h6> Rochelle Coelho </div>
                <div class="title overtext"><h6>NICKNAME:</h6> Chimera, Roach, Beyonce, Fiddy Cent, Rick Ross, The Notorious B.I.G. </div>
                <div class="title overtext"><h6>PROGRAM:</h6>  International Relations & English. </div>
                <div class="title overtext"><h6>EVENT:</h6> Co-Chair. </div>
                <div class="title overtext"><h6>HOBBY:</h6> Napping. </div>
                <div class="title overtext"><h6>FAVORITE ORIENTATION EVENT:</h6> TRADITION!!!! </div>
                <div class="title overtext"><h6>FAVORITE ANIMAL:</h6>Piranhas. </div>
              </div>
            </div>

          </div>

        <br />
        <br />

       <hr />
            <img class="" style="display:block; margin:0 auto;" src="{% static 'img/executives.png' %}"/>
        <hr />
        <br />

          <div class="row execRow center-block">

            <div class="box col-md-3">
          	  <img class="execpic" src="{% static 'img/execs/abby.jpg' %}" />
              <div class="overbox" style="background-image:url({% static 'img/teamanimal/abby.jpg' %});">
                <div class="title overtext"><h6>NAME:</h6> ABBY GODDEN </div>
                <div class="title overtext"><h6>NICKNAME:</h6> NO. </div>
                <div class="title overtext"><h6>PROGRAM:</h6>  Environmental Science and Biodiversity & Conservation Biology. </div>
                <div class="title overtext"><h6>EVENT:</h6> Explore UC & Beach Day! </div>
                <div class="title overtext"><h6>HOBBY:</h6> Doing literally anything except studying. </div>
                <div class="title overtext"><h6>FAVORITE ORIENTATION EVENT:</h6>Amazon Exploration and Doin It In The Dot. </div>
                <div class="title overtext"><h6>FAVORITE ANIMAL:</h6>Sloth. </div>
              </div>
            </div>

            <div class="box  col-md-3">
          	   <img class="execpic" src="{% static 'img/execs/alexander.jpg' %}" />
               <div class="overbox" style="background-image:url({% static 'img/teamanimal/alexander.jpg' %});">
                  <div class="title overtext"><h6>NAME:</h6> Alexander Morihovitis</div>
                  <div class="title overtext"><h6>NICKNAME:</h6> Momo. </div>
                  <div class="title overtext"><h6>PROGRAM:</h6>  Life Sciences. </div>
                  <div class="title overtext"><h6>EVENT:</h6> Meals & Explore UC! </div>
                  <div class="title overtext"><h6>HOBBY:</h6> Baseball, rollerblading, reading, and listening to music. </div>
                  <div class="title overtext"><h6>FAVORITE ORIENTATION EVENT:</h6>Jungle Madness </div>
                  <div class="title overtext"><h6>FAVORITE ANIMAL:</h6>Tiger. </div>
                </div>
            </div>

            <div class="box col-md-3">
          	   <img class="execpic" src="{% static 'img/execs/amanda.jpg' %}" />
               <div class="overbox" style="background-image:url({% static 'img/teamanimal/amanda.jpg' %});">
                  <div class="title overtext"><h6>NAME:</h6> Amanda Stojcevski</div>
                  <div class="title overtext"><h6>PROGRAM:</h6>  Neuroscience and Animal Physiology. </div>
                  <div class="title overtext"><h6>EVENT:</h6> Amazing Race, Carnival, Safari Run, Amazon Exploration! </div>
                  <div class="title overtext"><h6>HOBBY:</h6> Eating Desserts, baking desserts, watching disney movies, lying in bed, cooking. </div>
                  <div class="title overtext"><h6>FAVORITE ORIENTATION EVENT:</h6>Beach Day, Tradition, Doin it in the Dot, Bring it On! </div>
                  <div class="title overtext"><h6>FAVORITE ANIMAL:</h6> Lemurs. </div>
                </div>
            </div>
            <div class="box col-md-3">
          	   <img class="execpic" src="{% static 'img/execs/armita.jpg' %}" />
               <div class="overbox" style="background-image:url({% static 'img/teamanimal/armita.jpg' %});">
                  <div class="title overtext"><h6>NAME:</h6> Armita Zaferani</div>
                  <div class="title overtext"><h6>PROGRAM:</h6>  Astronomy and Astrophysics. </div>
                  <div class="title overtext"><h6>EVENT:</h6> Meals, Tuesday and Friday night events! </div>
                  <div class="title overtext"><h6>HOBBY:</h6> Star gazing. </div>
                  <div class="title overtext"><h6>FAVORITE ORIENTATION EVENT:</h6>Doin it in the Dot! </div>
                  <div class="title overtext"><h6>FAVORITE ANIMAL:</h6>White Siberian Tigers.</div>
                </div>
            </div>

          </div>

          <div class="row execRow center-block">

            <div class="box col-md-3">
          	   <img class="execpic" src="{% static 'img/execs/daniel.jpg' %}" />
               <div class="overbox" style="background-image:url({% static 'img/teamanimal/daniel.jpg' %});">
                  <div class="title overtext"><h6>NAME:</h6> Daniel Nieman</div>
                  <div class="title overtext"><h6>PROGRAM:</h6>  Neuroscience. </div>
                  <div class="title overtext"><h6>EVENT:</h6> Social Media, Youth Assisting Youth, Sound, Open Mic, Bring It On! </div>
                  <div class="title overtext"><h6>HOBBY:</h6> Eating spoonfuls of Nutella in my onesie. </div>
                  <div class="title overtext"><h6>FAVORITE ORIENTATION EVENT:</h6> Opening Ceremonies! </div>
                  <div class="title overtext"><h6>FAVORITE ANIMAL:</h6> Jungle Cat. </div>
                </div>
            </div>
            <div class="box col-md-3">
          	   <img class="execpic" src="{% static 'img/execs/dev.jpg' %}" />
               <div class="overbox" style="background-image:url({% static 'img/teamanimal/dev.jpg' %});">
                  <div class="title overtext"><h6>NAME:</h6> Dev Chaudhuri</div>
                  <div class="title overtext"><h6>NICKNAME:</h6>  David. </div>
                  <div class="title overtext"><h6>PROGRAM:</h6>  Economics & History. </div>
                  <div class="title overtext"><h6>EVENT:</h6> Sponsorship, Meals, Finance! </div>
                  <div class="title overtext"><h6>HOBBY:</h6> Fitness, Sports, Music, Public Speaking, Collecting small shit. </div>
                  <div class="title overtext"><h6>FAVORITE ORIENTATION EVENT:</h6> Club night! </div>
                  <div class="title overtext"><h6>FAVORITE ANIMAL:</h6> Anaconda. </div>
                </div>
            </div>
            <div class="box col-md-3">
          	   <img class="execpic" src="{% static 'img/execs/engy.jpg' %}" />
               <div class="overbox" style="background-image:url({% static 'img/teamanimal/engy.jpg' %});">
                  <div class="title overtext"><h6>NAME:</h6> Engy Abdel Azeez</div>
                  <div class="title overtext"><h6>NICKNAME:</h6>  NG. </div>
                  <div class="title overtext"><h6>PROGRAM:</h6>  Actuarial Science & Statistics. </div>
                  <div class="title overtext"><h6>EVENT:</h6> Meals & Red and White! </div>
                  <div class="title overtext"><h6>HOBBY:</h6> Going to VIP Movies on cheap Tuesday! </div>
                  <div class="title overtext"><h6>FAVORITE ORIENTATION EVENT:</h6> Tradition! </div>
                  <div class="title overtext"><h6>FAVORITE ANIMAL:</h6> Cheetah. </div>
                </div>
            </div>
            <div class="box col-md-3">
          	   <img class="execpic" src="{% static 'img/execs/eric.jpg' %}" />
               <div class="overbox" style="background-image:url({% static 'img/teamanimal/eric.jpg' %});">
                  <div class="title overtext"><h6>NAME:</h6> Eric Schwenger</div>
                  <div class="title overtext"><h6>NICKNAME:</h6>  Basic. </div>
                  <div class="title overtext"><h6>PROGRAM:</h6>  Ethics, Society & Law. </div>
                  <div class="title overtext"><h6>EVENT:</h6> Tradition & Sound! </div>
                  <div class="title overtext"><h6>HOBBY:</h6> Knitting. </div>
                  <div class="title overtext"><h6>FAVORITE ORIENTATION EVENT:</h6> TRADITION!!! </div>
                  <div class="title overtext"><h6>FAVORITE ANIMAL:</h6> Spiders. </div>
                </div>
            </div>

          </div>

          <div class="row execRow center-block">

            <div class="box col-md-3">
          	<img class="execpic" src="{% static 'img/execs/gaya.jpg' %}" />
            <div class="overbox" style="background-image:url({% static 'img/teamanimal/gaya.jpg' %});">
                  <div class="title overtext"><h6>NAME:</h6> Gaya Astvatsatryan</div>
                  <div class="title overtext"><h6>NICKNAME:</h6>  Gayka. </div>
                  <div class="title overtext"><h6>PROGRAM:</h6>  Health, Disease & Microbiology. </div>
                  <div class="title overtext"><h6>EVENT:</h6>  Beach Day, Youth Assisting Youth! </div>
                  <div class="title overtext"><h6>HOBBY:</h6> Swimming, singing, reading. </div>
                  <div class="title overtext"><h6>FAVORITE ORIENTATION EVENT:</h6> Tradition & Beach day! </div>
                  <div class="title overtext"><h6>FAVORITE ANIMAL:</h6> Black Panther. Fierce & Elegant! </div>
                </div>
            </div>
            <div class="box col-md-3">
          	  <img class="execpic" src="{% static 'img/execs/hesham.jpg' %}" />
              <div class="overbox" style="background-image:url({% static 'img/teamanimal/hesham.jpg' %});">
                <div class="title overtext"><h6>NAME:</h6> Hesham Hassan</div>
                <div class="title overtext"><h6>NICKNAME:</h6>  Not Hisham. </div>
                <div class="title overtext"><h6>PROGRAM:</h6>  Computer Science. </div>
                <div class="title overtext"><h6>EVENT:</h6> Website, Design, Registration, Bring it On! </div>
                <div class="title overtext"><h6>HOBBY:</h6> Runnin thru the 6.</div>
                <div class="title overtext"><h6>FAVORITE ORIENTATION EVENT:</h6> Jungle Madness! </div>
                <div class="title overtext"><h6>FAVORITE ANIMAL:</h6> Jaguar. </div>
              </div>
            </div>

            <div class="box col-md-3">
          	<img class="execpic" src="{% static 'img/execs/hisham.jpg' %}" />
            <div class="overbox" style="background-image:url({% static 'img/teamanimal/hisham.jpg' %});">
                <div class="title overtext"><h6>NAME:</h6> Hisham Imtiaz</div>
                <div class="title overtext"><h6>NICKNAME:</h6>  Not Hesham. </div>
                <div class="title overtext"><h6>PROGRAM:</h6>  Criminology & Sociology. </div>
                <div class="title overtext"><h6>EVENT:</h6> Design & Jungle Madness! </div>
                <div class="title overtext"><h6>HOBBY:</h6> Basketball, playing video games, and wasting away on my bed while watching movies..</div>
                <div class="title overtext"><h6>FAVORITE ORIENTATION EVENT:</h6> Jungle Madness! </div>
                <div class="title overtext"><h6>FAVORITE ANIMAL:</h6> Black Panther. </div>
              </div>
            </div>

            <div class="box col-md-3">
          	<img class="execpic" src="{% static 'img/execs/janice.jpg' %}" />
            <div class="overbox" style="background-image:url({% static 'img/teamanimal/janice.jpg' %});">
                <div class="title overtext"><h6>NAME:</h6> Janice Cha</div>
                <div class="title overtext"><h6>NICKNAME:</h6>  J-Dawg, Chacha. </div>
                <div class="title overtext"><h6>PROGRAM:</h6>  Rotman Commerce. </div>
                <div class="title overtext"><h6>EVENT:</h6> Amazing Race, Sponsorship, Design! </div>
                <div class="title overtext"><h6>HOBBY:</h6> Trying to play basketball but end up just watching NBA games with some wings.</div>
                <div class="title overtext"><h6>FAVORITE ORIENTATION EVENT:</h6> Bring It On! </div>
                <div class="title overtext"><h6>FAVORITE ANIMAL:</h6> Okapi. </div>
              </div>
            </div>

          </div>

          <div class="row execRow center-block">

            <div class="box col-md-3">
          	<img class="execpic" src="{% static 'img/execs/john.jpg' %}" />
            <div class="overbox" style="background-image:url({% static 'img/teamanimal/john.jpg' %});">
                <div class="title overtext"><h6>NAME:</h6> John Cho</div>
                <div class="title overtext"><h6>NICKNAME:</h6>  Cho-riga!!, Poncho. </div>
                <div class="title overtext"><h6>PROGRAM:</h6>  Computer Science. </div>
                <div class="title overtext"><h6>EVENT:</h6> Jungle Madness, Wild Kingdom Carnival, Youth Assisting Youth! </div>
                <div class="title overtext"><h6>HOBBY:</h6> Watching movies and F.R.I.E.N.D.S.</div>
                <div class="title overtext"><h6>FAVORITE ORIENTATION EVENT:</h6> Breakfast, Lunch, Dinner! </div>
                <div class="title overtext"><h6>FAVORITE ANIMAL:</h6> Pumba. </div>
              </div>
            </div>

            <div class="box col-md-3">
          	<img class="execpic" src="{% static 'img/execs/jordana.jpg' %}" />
            <div class="overbox" style="background-image:url({% static 'img/teamanimal/jordana.jpg' %});">
                <div class="title overtext"><h6>NAME:</h6> Jordana Schiralli</div>
                <div class="title overtext"><h6>PROGRAM:</h6>  Pyschology. </div>
                <div class="title overtext"><h6>EVENT:</h6> Registration, Doin' it in the Dot, Youth Assisting Youth! </div>
                <div class="title overtext"><h6>HOBBY:</h6> Binge watching Grey's Anatomy and Friends on Netflix. </div>
                <div class="title overtext"><h6>FAVORITE ORIENTATION EVENT:</h6> Tradition! </div>
                <div class="title overtext"><h6>FAVORITE ANIMAL:</h6> Squirrel Monkey. </div>
              </div>
            </div>

            <div class="box col-md-3">
          	<img class="execpic" src="{% static 'img/execs/julia.jpg' %}" />
            <div class="overbox" style="background-image:url({% static 'img/teamanimal/julia.jpg' %});">
                <div class="title overtext"><h6>NAME:</h6> Julia Davis</div>
                <div class="title overtext"><h6>NICKNAME:</h6> Julya, Wild Child. </div>
                <div class="title overtext"><h6>PROGRAM:</h6>  Double Major in Drama Performance and History, minor in swag.</div>
                <div class="title overtext"><h6>EVENT:</h6> Club Night (#turnup) & Wild Kingdom Carnival!  </div>
                <div class="title overtext"><h6>HOBBY:</h6> Representing 1/2 of the LL Twerk Team </div>
                <div class="title overtext"><h6>FAVORITE ORIENTATION EVENT:</h6> Awkwardfest! </div>
                <div class="title overtext"><h6>FAVORITE ANIMAL:</h6> Cougar. </div>
              </div>
            </div>

            <div class="box col-md-3">
          	<img class="execpic" src="{% static 'img/execs/nicole.jpg' %}" />
            <div class="overbox" style="background-image:url({% static 'img/teamanimal/nicole.jpg' %});">
                <div class="title overtext"><h6>NAME:</h6> Nicole Gumapac</div>
                <div class="title overtext"><h6>NICKNAME:</h6> Nick, Nikki, Fred. </div>
                <div class="title overtext"><h6>PROGRAM:</h6>  Physiology & Global Health.</div>
                <div class="title overtext"><h6>EVENT:</h6> Design, Explore UC & Red and White! </div>
                <div class="title overtext"><h6>HOBBY:</h6>  Singing, napping, reading, eating (not necessarily in that order). </div>
                <div class="title overtext"><h6>FAVORITE ORIENTATION EVENT:</h6> Tradition! Make sure to bring your steel-toed boots and your balaclavas! And watch out for the falling goats! </div>
                <div class="title overtext"><h6>FAVORITE ANIMAL:</h6> (My) Anaconda (Don't). </div>
              </div>
            </div>

          </div>

          <div class="row execRow center-block">

            <div class="box col-md-3">
          	<img class="execpic" src="{% static 'img/execs/pascal.jpg' %}" />
            <div class="overbox" style="background-image:url({% static 'img/teamanimal/Pascal.jpg' %});">
                <div class="title overtext"><h6>NAME:</h6> Pascal Chong</div>
                <div class="title overtext"><h6>NICKNAME:</h6> Pascy, P, Chinois. </div>
                <div class="title overtext"><h6>PROGRAM:</h6>  Accounting Specialist, Rotman Commerce.</div>
                <div class="title overtext"><h6>EVENT:</h6> Sponsorship, Finance & Doin it in the 6! </div>
                <div class="title overtext"><h6>HOBBY:</h6> Being active, I’m always down to play sports and get fit! </div>
                <div class="title overtext"><h6>FAVORITE ORIENTATION EVENT:</h6> Tradition! </div>
                <div class="title overtext"><h6>FAVORITE ANIMAL:</h6> Lion. </div>
              </div>
            </div>

            <div class="box col-md-3">
          	<img class="execpic" src="{% static 'img/execs/ramsey.jpg' %}" />
            <div class="overbox" style="background-image:url({% static 'img/teamanimal/ramsey.jpg' %});">
                <div class="title overtext"><h6>NAME:</h6> Ramsey Andary</div>
                <div class="title overtext"><h6>NICKNAME:</h6> Gramsey, Chef Ramsey, Ramo. </div>
                <div class="title overtext"><h6>PROGRAM:</h6>  Finance & Economics, Rotman Commerce.</div>
                <div class="title overtext"><h6>EVENT:</h6> Meals & Tradition!  </div>
                <div class="title overtext"><h6>HOBBY:</h6> Sports (especially Soccer and Volleyball), Guitar </div>
                <div class="title overtext"><h6>FAVORITE ORIENTATION EVENT:</h6> Jungle Madness & Tradition! </div>
                <div class="title overtext"><h6>FAVORITE ANIMAL:</h6> Cheetah. </div>
              </div>
            </div>

            <div class="box col-md-3">
          	<img class="execpic" src="{% static 'img/execs/sameer.jpg' %}" />
            <div class="overbox" style="background-image:url({% static 'img/teamanimal/sameer.jpg' %});">
                <div class="title overtext"><h6>NAME:</h6> Sameer Rai</div>
                <div class="title overtext"><h6>PROGRAM:</h6>  Pharmacology.</div>
                <div class="title overtext"><h6>EVENT:</h6>  Registration & Open Mic Night! </div>
                <div class="title overtext"><h6>HOBBY:</h6> Sports, video games, hanging out and from time to time using my giant robot to kick alien butt, you know, normal stuff. </div>
                <div class="title overtext"><h6>FAVORITE ORIENTATION EVENT:</h6> Open mic night, cuz all the fresh new talent is put up on display for everybody to see. </div>
                <div class="title overtext"><h6>FAVORITE ANIMAL:</h6> A Tiger, because I want one as a pet.</div>
              </div>
            </div>

            <div class="box col-md-3">
          	<img class="execpic" src="{% static 'img/execs/subo.jpg' %}" />
            <div class="overbox" style="background-image:url({% static 'img/teamanimal/subo.jpg' %});">
                <div class="title overtext"><h6>NAME:</h6> Subothan Inpanathan</div>
                <div class="title overtext"><h6>NICKNAME:</h6> Subo. </div>
                <div class="title overtext"><h6>PROGRAM:</h6>  Double Major in Microbiology & Health and Disease</div>
                <div class="title overtext"><h6>EVENT:</h6> Club night, Beach day, Doin' it in the Dot! </div>
                <div class="title overtext"><h6>HOBBY:</h6> Dragon Boat, Beatboxing, Drumming, Gym life #gainz. </div>
                <div class="title overtext"><h6>FAVORITE ORIENTATION EVENT:</h6> Tradition! </div>
                <div class="title overtext"><h6>FAVORITE ANIMAL:</h6> Tiger. </div>
              </div>
            </div>

          </div>

      </div>
    </div>
{% endblock %}